/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4c6686;
  --ifm-color-primary-dark: #657b96;
  --ifm-color-primary-darker: #657b96;
  --ifm-color-primary-darkest: #657b96;
  --ifm-color-primary-light: #657b96;
  --ifm-color-primary-lighter: #657b96;
  --ifm-color-primary-lightest: #657b96;
  --ifm-footer-link-hover-color: #959ca5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #7398c5;
  --ifm-color-primary-dark: #959ca5;
  --ifm-color-primary-darker: #959ca5;
  --ifm-color-primary-darkest: #959ca5;
  --ifm-color-primary-light: #959ca5;
  --ifm-color-primary-lighter: #959ca5;
  --ifm-color-primary-lightest: #959ca5;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
